.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
#faqAccordion {
  margin-top: 20vh;
  max-width: 100%;
  min-height: 80vh;
  padding: 0 5%;
  display: block;
  width: 100%;
  max-width: 100%;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #FC466B;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000;
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #FC466B;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #FC466B;
  border: 1px solid #FC466B;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}


.accordion button[aria-expanded='true'] {
  color: #FC466B;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: fit-content;
  transition: all 200ms linear;
}
li {
  /* list-style: disc outside none; */
  display: list-item;
  margin-left: 2em;
  }
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}