*,
*::after,
*::before {
  box-sizing: border-box !important;
}

html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: visible;
  overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.timeline {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/images/covid.jpg");
}

#history-timeline {
  margin-top: 15vh;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #F24472;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.timeline-container.left {
  left: 0;
}

.timeline-container.right {
  left: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #F24B59;
  border-radius: 16px;
  z-index: 1;
}

.timeline-container.right::after {
  left: -8px;
}

.timeline-container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #F24B59;
  z-index: 1;
}

.timeline-container.right::before {
  left: 8px;
}

.timeline-container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #F24B59;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.timeline-container.left .date {
  right: -105px;
}

.timeline-container.right .date {
  left: -105px;
}

.timeline-container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F2D5D8;
  border: 2px solid #F24B59;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #F24B59;
  z-index: 1;
}

.timeline-container.left .icon {
  right: 56px;
}

.timeline-container.right .icon {
  left: 56px;
}

.timeline-container .content {
  padding: 30px 90px 30px 30px;
  background: #f24b59d2;
  position: relative;
  border-radius: 0 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: 5s changeColor infinite;
}

@keyframes changeColor {
  0% {
    background-color: #f24b59d2;
  }

  50% {
    background-color: #F24472;

  }

  100% {
    background-color: #f24b59d2;
  }
}

.content:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 500ms;
}

.timeline-container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 100px 0;
}


.timeline-container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .timeline{
    background: #ECF2DF !important;
  }
  body{
    background: #ECF2DF !important;
  }
  .timeline::after {
    left: 90px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .timeline-container.right {
    left: 0%;
  }

  .timeline-container.left::after,
  .timeline-container.right::after {
    left: 82px;
  }

  .timeline-container.left::before,
  .timeline-container.right::before {
    left: 100px;
    border-color: transparent #F24B59 transparent transparent;
  }

  .timeline-container.left .date,
  .timeline-container.right .date {
    right: auto;
    left: 15px;
    position: relative;
  }

  .timeline-container.left .icon,
  .timeline-container.right .icon {
    right: auto;
    left: 146px;
  }

  .timeline-container.left .content,
  .timeline-container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 100px 0;
  }
}