* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

#mainHome {
    background: linear-gradient(to right, #E2FDF8, #F0F8E3, #ECF2F1);
    margin-left: 0 !important;
}

.jumbotron {
    background-image: linear-gradient(to right, #e2fdf88e, #f0f8e38e, #ecf2f188), url("/assets/images/know_more_page.jpg") !important;
}

#faq_vacc_jumb {
    margin-top: 20vh;
}

::selection {
    background-color: #fc466ac9;
    color: #fff;
}

.no-flow {
    overflow-x: hidden;
}

.btn:focus,
.btn:active {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.header {
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #e2fdf8b2, #f0f8e3b0, #ecf2f1b0);
    font-size: 23px;
    font-weight: 600;
}

.typed-cursor {
    display: none !important;
}

.scale-home {
    transform: scale(3);
}

.Floating_Design {
    position: fixed;
    top: 15vh;
}

#mainHome,
#mainHome_vaccine,
#protect {
    margin-top: 15vh;
    max-width: 100%;
    min-height: 85vh;
    /* max-height: 85vh; */
    padding: 0 5%;
    display: block;
}

.slick-prev,
.slick-next {
    background-color: #e1e1e1 !important;
    width: 5vh !important;
    height: 5vh !important;
    border-radius: 50% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1;
}

#know_more {
    margin-top: 20vh;
    max-width: 100%;
    min-height: 80vh;
    /* max-height: 85vh; */
    padding: 0 5%;
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.know-more,
.btn-primary {
    color: #fff;
    background-color: #FC466B !important;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: 0 5px 15px #FC466B !important;
}

.know-more:hover,
.know-more:active,
.know-more:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #FC466B !important;
    box-shadow: 0 2px 10px #fc466ad7 !important;
}

.hover-card:hover {
    transition: 300ms;
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.5) !important;
    border: 1px solid #fc466ad7;
    border-radius: 10px;
    transform: scale(1.1);
}

.card {
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #afafaf;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.know-more:hover {
    color: #fff;
}

.card-deck .card {
    z-index: -1 !important;
}

#thingsNotToDo .col-lg-4 {
    z-index: -1;
}

.scroll {
    position: absolute;
    top: 80%;
    left: 50%;
    right: 50%;
    color: #FC466B;
    animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;
}

.quotes::after {
    content: "";
    width: 3px;
    height: 20px;
    background: #000;
    display: inline-block;
    animation: blink 600ms linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#image {
    position: relative;
    overflow: hidden;
}

#image img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.mobile-menu {
    display: none !important;
}

.header>.logo {
    width: 20%;
    text-align: center;
}

.header>.header-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
}

.header>.header-links a,
.logo-link,
.logo-link,
.logo-link:hover,
a,
a:hover {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.945);
    transition: 500ms;
}

#faq {
    margin-top: 20vh;
    height: 30vh;
    text-align: center;
}

.faqAccordion {
    margin-bottom: 30vh !important;
}

@media only screen and (max-width: 768px) {
    #mainHome {
        margin-top: 15vh;
        margin-left: 0 !important;
    }

    .header {
        display: none;
    }

    .scroll {
        display: none;
    }

    .mobile-menu {
        display: block !important;
        width: 100%;
        height: 15vh;
        position: fixed;
        background: linear-gradient(to right, #e2fdf8b2, #f0f8e3b0, #ecf2f1b0);
        top: 0;
        z-index: 100;
        font-size: 23px;
        line-height: 15vh;
        font-weight: 600;
    }

    .mobile-menu .toggle {
        position: absolute;
        top: 2.5vh;
        right: 0;
        z-index: 2000;
        width: 70px;
        height: 70px;
        opacity: 0;
        cursor: pointer;
    }

    .mobile-menu .hamburger {
        position: absolute;
        top: 2.5vh;
        right: 0;
        z-index: -999;
        cursor: pointer;
        width: 70px;
        height: 70px;
        padding: 3vh;
        background: transparent;
        display: flex;
        align-items: center;
        box-shadow: -4px 5px 20px 2px rgb(0 0 0 / 51%);
    }

    .mobile-menu .hamburger span {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #000;
        display: flex;
        transition: all 500ms ease-in-out;
    }

    .mobile-menu .hamburger span::before,
    .hamburger span::after {
        position: absolute;
        content: '';
        z-index: 10000;
        background-color: #000;
        top: -10px;
        width: 100%;
        height: 3px;
    }

    .hamburger span::after {
        top: 10px;
    }

    .mobile-menu .toggle:checked+.hamburger>span {
        transform: rotate(145deg);
    }

    .mobile-menu .toggle:checked:hover+.hamburger>span {
        transform: rotate(245deg);
    }

    .mobile-menu .toggle:checked+.hamburger>span::before,
    .mobile-menu .toggle:checked+.hamburger>span::after {
        transform: rotate(90deg);
        top: 0;
    }

    .mobile-menu .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #e2fdf8b2, #f0f8e3b0, #ecf2f1b0);
        backdrop-filter: blur(4px);
        transform: scale(0);
        transition-duration: 300ms;
        visibility: hidden;
        z-index: -10000;
    }

    .mobile-menu ul li {
        list-style: none;
    }

    .menu-links a {
        font-family: 'Outfit', sans-serif;
        text-decoration: none;
        color: #000;
    }

    .menu-links {
        line-height: 78px;
    }

    .mobile-menu .toggle:checked~.menu {
        visibility: visible !important;
        transform: scale(1) !important;
        transition-duration: 600ms;
    }
}

.underline:after {
    display: block;
    content: '';
    border-bottom: solid 3px #fc466ad2;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}

header {
    background-color: transparent !important;
}

.vaccine {
    margin-left: 0 !important;
    color: #fff;
}

.float {
    position: fixed;
    width: 100px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #FC466B;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 9;
}

.float:hover {
    color: #fff;
}

.button {
    border: none;
    outline: none;
}